.profile_text {
  text-align: left;
  line-height: 30px;
  font-size: 20px;
  margin-left: 160px;
}
.about_style {
  flex: 1;
}
.about_background {
  background-color: #1f2833;
  color: #66fcf1;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.about_text {
  color: black;
}
.about_me {
  margin: 50px 0px 50px 0px;
}
.profile_img {
  border-radius: 50%;
  border: 1px solid #66fcf1;
}
.content-intro img {
  flex: 1;
  width: 130px;
  float: left;
}
.section-intro {
  max-width: 700px;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 700px) {
  .content-intro img {
    height: 110px;
    width: 110px;
    float: none;
    display: inline-block;
  }
  .profile_text {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0px;
  }
}
