.contactContainer {
  text-align: center;
  background-color: #151515;
}
.contactMain {
  color: #8ee4af;
}
.contactSec {
  color: white;
}
.contactText {
  padding-top: 50px;
}
.contactText2 {
  padding-top: 10px;
  color: white;
}
.contactDiv {
  padding: 20px;
}
