.home_centerText {
  margin-top: 230px;
  color: white;
}
.home_backgroundStyle {
  height: 100vh;
  overflow: auto;
  width: 100%;
  position: relative;
  object-fit: cover;
  background-image: url(../../images/home_background.jpg);
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}
.home_icon_container {
  padding-top: 350px;
}
@media only screen and (max-width: 700px) {
  .home_icon_container {
    padding-top: 250px;
  }
}
