.home_centerText {
  margin-top: 200px;
  color: white;
}
.home_backgroundStyle {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
  background-image: url(../../images/home_background.jpg);
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}
.home_icon_container {
  padding-top: 300px;
}
